<div class="loginBackground">
    <div class="card">
        <div class="card-body">
        <div class="cardTitleParentDiv">
            <h5 class="card-title">Sign In</h5>
        </div>
          <div class="textboxParentDiv">
              <input type="email" class="form-control textbox" id="emailTextboxId" placeholder="Email ID" autocomplete="off">
          </div>
          <div class="textboxParentDiv">
              <input type="password" class="form-control textbox" id="passwordTextboxId" placeholder="Password" autocomplete="off">
          </div>
          <div class="parentDiv">
              <div class="row">
                <div class="col forgotPasswordParent">
                    <div class="forgotPasswordText">
                        Forgot Password?
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary signInButton">Sign In</button>
                </div>
              </div>
          </div>
          <div class="parentDiv">
            <div class="row">
              <div class="col employeeRegistrationParent">
                  <button type="button" class="btn btn-outline-primary employeeRegistrationButton">Employee Registration</button>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>
<router-outlet />