/* You can add global styles to this file, and also import other style files */
.primaryColor {
    background: #0B37FA;
    color: white;
}

.primaryColorFill {
    background: #0B37FA;
}

.primaryColorBorder {
    border: 1px solid #0B37FA;
    color: #0B37FA
}

.primaryFontColor{
    color: #0B37FA
}